body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e4f72;
    color: #b61b1b;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #2d2c2e;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0d0d0e;
}

.menu-section {
    padding: 50px 0;
    background-color:#789462;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.menu-category {
    margin-bottom: 50px;
}

.menu-category h3 {
    font-size: 24px;
    color: #7c6310;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #426e6e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(114, 87, 87, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.menu-item:hover {
        transform: translateY(-5px);
    }

.menu-item img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-item-info {
    padding: 10px 0;
}

.menu-item-info h4 {
    color: #2b1616;
    margin-bottom: 5px;
}

.menu-item-info p {
    color: #2b1616;
    font-size: 14px;
    margin-bottom: 3px;
}

.menu-item-info .price {
    color: #2b1616;
    font-weight: bold;
}

.about-section {
    padding: 50px 0;
    background-color: #2e4f72;
    text-align: center
